body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

p {
    margin: 0;
    padding: 0;
}

button {
    background-color: #272B33;
    border: 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 24px;
}

button:disabled {
    color: rgb(65, 65, 65);
}

#container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    width: 400px;
    display: flex;
    flex-direction: column;
    height: 700px;
    gap: 12px;
    background-color: #22252D;
    border-radius: 36px;
   
}

#display {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 12px 36px;
    gap: 12px;
}

#operation {
    display: flex;
    flex-grow: 1;
    color: white;
    align-items: flex-end;
    gap: 8px;
    font-weight: 600;
    font-size: 18px;
}

#operation #operator {
    color: #EB6766;
    font-size: 22px;
}

#result {
    font-size: 64px;
    color: white;
    font-weight: 600;
}


#buttons {
    display: flex;
    background-color: #292D36;
    border-radius: 36px;
    padding: 36px;
    gap: 12px;
}

#left-side {
    display: flex;
    width: 75%;
    gap: 12px;
    flex-direction: column;
}

#top-line, #numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

}

#left-side button {
    width: calc(33% - 24px);
    padding: 24px;
    flex-grow: 1;
}

#right-side {
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    gap: 12px;
}

#right-side button {
    width: 100%;
    padding: 24px;
    flex-grow: 1;
}

#left-side button.clear {
    flex-grow: 0;
    width: calc(33% - 6px);
}

.operator, .equals {
    color: #EB6766;
}

.clear {
    color: #79F1CC;
}